@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #100e17;
    font-family: 'Inconsolata', cursive;
    /* background-color:#64c79f; */
}

body{
  
    color: white;
}



img{
    height: 70px;
    width: 70px;
}





nav {
    
    background-color:#64c79f;
 
}

ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #64c79f;
}

.nav-container-logo{
    display: flex;
    background-color: inherit;
    color: aliceblue;
}




.logo-name {
    font-family: 'Pacifico';
    font-size: 43px;
}




















/* nav > ul > li > a {
    background-color: #64c79f;
}

ul{
    list-style: none;
    padding: 2px;
   
    display: flex;
    
   
    
}

.logo {
    padding-left: 10px;
    padding-top: 10px;
}

.nav-btn{
    text-transform: uppercase;
   padding-right: 20px;
   background-color: #64c79f;3
   margin-top: 20px;
  
}

#home{
  
   align-items: center;
    text-decoration: none;
    margin-left: auto;  
  
}


a{
    color: aliceblue;
    background-color: #64c79f;
    text-decoration: none;
    font-size: 20px;
   
    margin: auto;
}

.container{
    
   margin-top: 200px;
   padding-top: -50px;
  margin-left: 15vw;
   margin-right: 15vw;
   padding-bottom: 60px;
   width: 70vw;
   position: absolute;
   align-content: center;
   text-align: center;
    border: solid white;
    border-radius: 12px;
    z-index: -2;
}

.cuming_soon ,h1{
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
}



img {
    height: 80px;
    width: 80px;
    margin-top: -20px;
}


.last{
    background-color: #64c79f;
    position: relative;
    margin: 5px;
    padding: 12px;
    margin-top: 90px;
    width: 100px;
    border-radius: 5px;
    color: aliceblue;
    transition: 0.3s;
}
.last:last-child{
    padding-left: 34px;
    padding-right: 34px;
}

.last:hover{
    background-color: aliceblue;
    color: #100e17;

}

.logo-name > a{
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    font-weight: 900;
    
    font-size: 35px;
    letter-spacing: 2px;
   

}
.logo-name > a:hover{
    color:#100e17;
}

.nav-btn > a:hover{
    color:#100e17;
} */


body::-webkit-scrollbar{
    width: 10px;
    background: #100e17;
}

body::-webkit-scrollbar-track{
    background: #100e17;
   
}

body::-webkit-scrollbar-thumb{
    background:#64c79f;
    border-radius: 5px;
}