@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', 'Roboto', sans-serif, monospace;
    background-color: #100e17;
    color: aliceblue;
    
}

.container{
    position: absolute;
    border: solid 3px aliceblue;
    border-radius: 10px;
    top: 50px;
    width: 80vw;
    min-height: 80vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #00000001;
    .brand{
        position: relative;
        display: flex;
        align-items: center;
        background-color: inherit;
       
        
       h1{
           margin-left: 10px;
       }
        
    }
     h2{
        background-color: #00000001;
        font-family: 'Pacifico', monospace;
        font-size: 30px;
     }
    
    h1{
        text-align: center;
        align-items: center;
        font-size: 50px;
        background-color: #00000001;
        font-family: 'Pacifico', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .intro{
        background-color: inherit;
        p{
            background-color: inherit;
        }
    }

    
}

img{
    height: 100px;
    width: auto;
    background-color: inherit;
}


.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
    background-image: 
    radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.75), #100e17),
    url(./img/books.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.nv{
    position: fixed;
    bottom: -100px;
    width: 1000px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
    border-radius: 2000% 2000% 0 0;
    margin-left: calc((100vw - 1000px ) /2);
    transition: 0.8s cubic-bezier(0.76, 0.13, 0.2, 1.74);
    background-color: #100e17;
}

ul{
    margin-top: 20px;
    margin-bottom: 20px;
   
    display:flex;
    transition: 0.8s cubic-bezier(0.76, 0.13, 0.2, 1.74);
   
    
    
}

.nv-up{
    bottom:-20px;
}


li{
    list-style: none;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 10px;
   

    i{
        font-size: 30px;
        background-color: #178b5d25;
        transition: 0.2s;

    }

    i:hover{
        color: #49b489;
    }
    
}


a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
    background-color: #178b5d00;
}


.hamburger-btn{
    position: relative;
    top: -35px;
    height: 30px;
    width: 35px;
    margin-top: 50px;
    cursor: pointer;

    transition: 0.8s cubic-bezier(0.76, 0.13, 0.2, 1.74);
    
}

.nav-list{
    position: relative;
    top: -20px;
}

.line{
    width: 35px;
    height: 5px;
    background-color: #49b489;
    border-radius: 2px;
    transition: 0.8s cubic-bezier(0.76, 0.13, 0.2, 1.74);
    
}


.line1{
    transform: translate(11px, 12px) rotateZ(45deg);

}

.line2{
    transform: translate(-11px, 6px) rotateZ(-45deg);
}


    .line1-up{
        transform: translate(11px, 10px) rotateZ(-405deg);
        background-color: aliceblue;
    }
    .line2-up{
        transform: translate(-12px, 4px) rotateZ(405deg);
        background-color: aliceblue;
    }




.nv-up{
    background-color: #178b5d;
    .hamburger-btn{
        background-color: #178b5d;
    }
}


.button{
    display: flex;
    justify-content: space-between;
    
    
    a{
        color: white;
        background-color: #178b5d;
        margin: 1px 5px;
        text-transform: none;
        padding: 10px 12px;
        font-size: 18px;

    }

    a:hover{
        background-color: aliceblue;
        color: #100e17;

    }
}

h2{
    font-family: 'Inconsolata', monospace, sans-serif;
    font-weight: 2000;
    font-size: 30px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    p{
        margin: 5px 10px;
        text-align: center;
    }
}





.nav-item{
    background-color: #100e17;
    transition: 0.8s cubic-bezier(0.76, 0.13, 0.2, 1.74);
}

.nav-item-up{
    background-color: #178b5d;
}